<div class="chatbox">
  <div class="container">
    <div class="picture glass">
      <div>
        <img class="circle-me" [attr.src]="photoLeft" alt="Me" />
      </div>
      <p class="name">Marcus</p>
    </div>
  </div>
  <div class="container">
    <div class="chat glass">
      <div *ngFor="let line of lines" class="line">
        <div class="bubble" [ngClass]="{ me: line.me, them: !line.me }">
          {{ line.outputText }}
        </div>
        <div class="speaker" [ngClass]="{ left: line.me, right: !line.me }">
          {{ line.person }}
        </div>
      </div>
      <button id="nextBtn" (click)="next()" [disabled]="!nextEnabled">{{ nextLabel }}</button>
      <button id="closeBtn" (click)="close()">Close chat</button>
    </div>
  </div>
  <div class="container">
    <div class="picture glass" *ngIf="photoRight">
      <div>
        <img class="circle-them" [attr.src]="photoRight" alt="Them" />
      </div>
      <p class="name">
        {{ name }}
      </p>
    </div>
  </div>
</div>
