<div class="chatbox">
    <div class="picture glass">
        <div>
            <img class="circle-me" [attr.src]="photoLeft" alt="Me">
        </div>
        <p class="name">
            Mark
        </p>
    </div>
    <div class="chat glass">
        <div *ngFor="let line of lines" class="line">
            <div class="bubble" [ngClass]="{ 'me': line.me, 'them': !line.me }">
                {{ line.outputText }}
            </div>
            <div class="speaker" [ngClass]="{ 'left': line.me, 'right': !line.me }">
                {{ line.person }}
            </div>
        </div>
        <button id="nextBtn" (click)="next()" [disabled]="!nextEnabled">{{ nextLabel }}</button>
    </div>
    <div class="picture glass">
         <div>
            <img class="circle-them" *ngIf="photoRight" [attr.src]="photoRight" alt="Them">
        </div>
        <p class="name">
            {{ name }}
        </p>
    </div>
</div>
