<div *ngIf="card" class="card" [ngClass]="{ 'me': isPlayer, 'them': !isPlayer }">
  <h2>{{ card.name }}</h2>  
  <table>
    <caption></caption>
    <tbody>
      <tr>        
        <th scope="row">Attack:</th>
        <td>{{ card.attack }} ± {{ card.attackVariance }}</td>
      </tr>
      <tr>        
        <th scope="row">Defense:</th>
        <td> {{ card.defence }} ± {{ card.defenceVariance }}%</td>
      </tr>
      <tr>        
        <th scope="row">Speed:</th>
        <td>{{ card.speedDescription }}</td>
      </tr>
      <tr>        
        <th scope="row">Stamina:</th>
        <td>{{ card.stamina }}</td>
      </tr>      
      <tr>
        <th scope="row">Health:</th>
        <td>{{ card.health }} ± {{ card.healthVariance }}</td>
      </tr>
    </tbody>
  </table>
  <div class="button-holder">
    <button *ngIf="isPlayer" (click)="select()">Select</button>
  </div>
</div>