$me: #000066;
$them: #666600;

.me {
  border-bottom: 5px solid $me;
}

.them {
  border-bottom: 5px solid $them;
}

.imageHolder {
  height: 35vh;
  display: block;
  position: relative;

  img {
    max-width:100%;
    max-height:100%;
    // position: absolute;
    // bottom: 0;
    margin-left:auto;
    margin-right: auto;
  }

}

.chat-box {
  display: flex;

  h1 {
    height: 3em;
  }
}

.chat {
  height: 70vh;
  overflow-y: hidden;
  padding: 1em;  
  flex: 10;
  flex-grow: 10;
}

.glass {
  height: 90vh;
  width: 30vw;
  margin-top: 3vh;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: 5px solid rgba(255, 255, 255, .25);
  filter: drop-shadow(30px 10px 4px #757575);
  padding: 20px;
}

.battlebox {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.card-holder {
  display: flex;
  flex-wrap: wrap;

  * {
    width: 50%;
  }
}

.card {
  border-radius: 20px;
  background: rgba(255, 255, 0, 0.7);
  border: 5px solid black;
  margin: 5px;
  padding: 10px;
  margin-bottom: 1em;
  text-align: center;
}

.status {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
  border: 5px solid black;
  text-align: right;

  h3, p {
    margin: 0;
  }
}

.bar { 
  border-radius: 5px;
  height: 10px;
  padding: 0;
  background-color: rgba(180, 180, 180, 32);
  text-align: left;
  width: 200px;

  .stamina {
    background-color: rgba(0, 128, 0, 64);
    margin:0;
    height: 10px;
    border-radius: 5px;
  }

  .health {    
    background-color: rgba(128, 0, 0, 64);
    margin:0;
    height: 10px;
    border-radius: 5px;
  }
}

button {
  height: 30px;
  background: darkblue;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 19px;
  width: 100%;
  height: 100%;
}